@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="page-section-heading text-center text-uppercase">Welcome to the party</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <p>We are going to throw an exciting party</p>
    <p>You are here because we sent you an invite</p>
    <a asp-action="Register">Click here to accept or reject the invitation</a>
    <br />
    <a asp-action="GuestList">See the guest list</a>
</div>
